* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #eae0dd;
  --secondary-color: #feb600;
  --tertiary-color: #2b1a10;
}
body {
  background-color: #2b1a10;
}
header {
  height: 90px;
  width: 100%;
  background-color: #feb600;
  display: flex;
  justify-content: space-between;
}
header img {
  height: 100%;
}
header .navbar-main {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
}
header .navbar-main .top-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50%;
}
header .top-navbar .search-bar {
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 1rem;
}
header .top-navbar .connexion {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
}
header .navbar-main .top-navbar input {
  height: 30px;
  width: 100%;
  border-radius: 20px;
}
header .navbar-main .top-navbar a {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #2b1a10;
}
header .navbar-main .top-navbar a:hover {
  background-color: #2b1a10;
  color: #feb600;
}
header .basket {
  display: flex;
  align-items: center;
  width: 10%;
}
header .basket a {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #2b1a10;
}
header .basket a:hover {
  background-color: #2b1a10;
  color: #feb600;
}
/* display none barre de recherche et bouton bootstrap */
.d-flex .form-control {
  display: none;
}
.d-flex button {
  display: none;
}
/* navbar position  */
.navbar-main .navbar {
  padding-top: 0rem;
  padding-bottom: 0;
  height: 50%;
  margin-bottom: 0;
}
/* couleur menu */
.collapse .dropdown-menu {
  background-color: #feb600;
}
/* color text bouton menu  */
.navbar-main .navbar-light .navbar-nav .nav-link {
  color: #2b1a10;
}
.dropdown-item {
  color: #2b1a10;
}
/* hover menu  */
.navbar-main .navbar-light .navbar-nav .nav-link:hover {
  background-color: #2b1a10;
  color: #feb600;
}
.dropdown-item:hover {
  background-color: #2b1a10;
  color: #feb600;
}
.navbar .container-fluid {
  padding: 0;
  margin: 0;
  height: 100%;
}
.boutique {
  display: flex;
}
.filter {
  width: 15%;
}
.filter form {
  display: flex;
  flex-direction: column;
  color: #feb600;
}
.filter form div {
  display: flex;
  justify-content: space-between;
}
.boutique .list_card {
  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
}
.boutique .carde {
  background-color: #feb600;
  width: 90%;
  height: 90%;
  margin: 1rem 1rem;
  border: 10px solid #feb600;
  border-radius: 20px;
  justify-self: center;
  align-self: center;
}
.boutique .carde a{
  text-decoration: none;
  color: #2b1a10;
  text-align: center;
}
.boutique .carde a div {
  width: 100%;
  height: 70%;
}

.boutique .carde img {
  object-fit: cover;
  border-radius: 10px;
  width: 100%;
  height: 100%;
}
.boutique .carde .bier_name{
  font-size: 1.1rem;
  font-weight: bold;
}
.boutique .carde .price_bier{
  font-size: 1.2rem;
  font-weight: bold;
}
.page{
  text-align: center;
}
@media screen and (max-width: 992px) {
  header .navbar-main .top-navbar {
    display: none;
  }
  .d-flex .form-control {
    display: initial;
  }
  .d-flex button {
    display: initial;
  }
}
