* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: #EAE0DD;
    --secondary-color: #FEB600;
    --tertiary-color: #2B1A10;
}
header{
    height: 120px;
    width: 100%;
    background-color: #FEB600;
    display: flex;
    justify-content: space-between;
}
header img{
    height: 100%;
}
header .navbar{
    display: flex;
}
header .navbar{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0.5rem;
}
header .navbar .top-navbar{
display: flex;
justify-content: space-between;
width: 100%;
height: 40%;
}
header .navbar .top-navbar input{
    height: 40px;
    width: 80%;
    border-radius: 20px;
}
header .navbar .top-navbar a{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .navbar .bottom-navbar{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    height 
}
header .navbar .bottom-navbar .scroll{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    width: 25%;
    font-size: 32px;
}
header .navbar .bottom-navbar ul{
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header .navbar .bottom-navbar ul li{
    width: 100%;
   
}
.navbar .bottom-navbar ul li a{
    
    display: flex;
   justify-content: center;
}

