h1{
    font-family: Cinzel;
    text-align: center;
    color: #FEB600;
   
}

.création {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    background-color: hsl(36, 68%, 15%);
}

.creationsite {
   background-color: #FEB600;
   font-size: 19px;
   display: flex;
   flex-direction: column;
}

.presentation {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
}

.signature {
    text-align: end;
    height: 50px;
    
}