:root {
    --primary-color: #eae0dd;
    --secondary-color: #feb600;
    --tertiary-color: #2b1a10;
  }
@font-face{
    font-family: 'Cinzel';
    src: url('../fonts/Cinzel-VariableFont_wght.ttf') format('woff');}
h1{
    color:#feb600 ;
    text-align: center;
    font-family: Cinzel;
}
h3{
    font-family: Cinzel;
    font-weight:bold ;
}
.bodyCart {
    font-family: 'Alkalami', sans-serif;
}
.w-30{
    width:30%;
    border-radius: 20px;
}
.w-20{
    width:20%;
    border-radius: 10px;
    margin-left: 5px;
}

.btn-delete{
   text-decoration: none;
    color: inherit;
}


.display-f{
    display: flex;
}
article{
    padding: 1rem;
}
section >article:nth-child(even)  {
    background-color: #6B4A39;
    color: #feb600;
}
section >article:nth-child(odd)  {
    background-color:#feb600 ;
    color: black;
}
section >article:first-child {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px ;
}
section >article:last-child {
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px ;
}


.margin-middle-card{
    margin-left: 20px;
}
.main-cart {
    background-color: inherit;
    width: 100vh;
}
.sticky-payment-array{
    background-color:#feb600 ;
    width: 20vw;
    text-align: center;
    position: sticky;
    top: 40vh;
    margin-left: 15px;
    height: min-content;
    padding: 10px;
    border-radius: 20px ;
}
.sticky-payment-array > form > button  {
    display: initial;
    border-radius: 10px;
    background-color: #6B4A39;
    color: #feb600 ;
    border: none;
    padding: 5px 5px;
}

@media screen and (max-width: 992px) {
    img {
        display: none;
    }
}

@media screen and (max-width:576px)  {
    .main-cart{
        width: 100%;

    }
    section >article:last-child {
        border-bottom-right-radius: initial;
        border-bottom-left-radius: initial ;
    }
    .sticky-payment-array{
        bottom: 0;
        top:40vh;
        width: 100%;
        margin-left:0;
        border: 2px solid black;
        border-radius: initial;
    }
    .container{
        margin: 0;
    }

    .media-small{
        flex-direction: column;
    }
    .reduc-height-sticky{
        display: flex;
        justify-content: space-around;
    }
}