* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: #eae0dd;
    --secondary-color: #feb600;
    --tertiary-color: #2b1a10;
}
@font-face{
    font-family: 'Cinzel';
    src: url('../fonts/Cinzel-VariableFont_wght.ttf') format('woff');
    /* url('#{$font-path}/open-sans/OpenSans-Regular.woff2') format('woff2'),
    url('#{$font-path}/open-sans/OpenSans-Regular.otf') format('otf'),
    url('#{$font-path}/open-sans/OpenSans-Regular.ttf') format('ttf'); */
}
body {
    background-color: #2b1a10;
}
.container-login {
    display: flex;
    justify-content: center;
    margin: 100px;
}
.login {
    background-color: #feb600;
    height: 500px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border-radius: 60px;
}
.login h2 {
    font-weight: bold;
    color: #2b1a10;
}
.login div {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.login div label {
    align-self: center;
    font-weight: bold;
}

.login div input {
    height: 40px;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    width: 90%;
    align-self: center;
}
.login div input[type="submit"] {
    padding: 0 1rem;
    width: 50%;
    align-self: center;
    font-size: 0.8rem;
}
.login div a {
    align-self: center;
}
@media screen and (max-width: 1480px) {
    .container-login{
        margin: 100px ;
    }
    .login {
        width: 60%;
    }
    .login div input{
        width: 90%;
        align-self: center;
    }
    .login div input[type="submit"] {
        padding: 0 1rem;
        width: 60%;
        align-self: center;
        font-size: 0.8rem;
    }
}
@media screen and (max-width: 990px){
    .container-login {
        margin: 40px 20px 40px 20px;
    }
    .login div input{
        width: 90%;
        align-self: center;
    }
}
@media screen and (max-width: 576px) {
    .container-login {
        margin: 40px 5px 40px 5px;

    }

    .login {
        width: 90%;
    }

    .login div {

    }

    .login div input {
        width: 90%;
        align-self: center;
    }

    .login div input[type="submit"] {
        padding: 0 1rem;
        width: 70%;
        align-self: center;
        font-size: 0.8rem;
    }
}