* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #eae0dd;
    --secondary-color: #feb600;
    --tertiary-color: #2b1a10;
}

@font-face {
    font-family: 'Cinzel';
    src: url('../fonts/Cinzel-VariableFont_wght.ttf') format('woff');
    /* url('#{$font-path}/open-sans/OpenSans-Regular.woff2') format('woff2'),
    url('#{$font-path}/open-sans/OpenSans-Regular.otf') format('otf'),
    url('#{$font-path}/open-sans/OpenSans-Regular.ttf') format('ttf'); */
}

body {
    background-color: #2b1a10;
}


.container-login {
    display: flex;
    justify-content: center;
    margin: 150px;
}

input{
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;

}

.register {
    background-color: #feb600;
    width: 80%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 2rem;
    border-radius: 60px;
    padding: 0.5rem;
}

.register h2 {
    font-weight: bold;
    color: #2b1a10;
}
.register span{
    align-self: center;
}

.register .register-first-line {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.register .register-first-line div {
    width: 100%;
}
.register .register-first-line div {
    width: 100%;
}

.register .register-first-line .none {
    display: flex;
    gap: 1rem;
}
.register .register-first-line .none div {
    text-align: center;

}

.register .register-second-line {
    display: flex;
    gap: 1rem;
}





.register .second-adress-line {
    display: flex;
    gap: 1rem;

}

.register .second-adress-line div {
    display: flex;
    flex-direction: column;
}

.register .phone-number {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register .submit-valid {
    display: flex;
    justify-content: center;
}

.register .align {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

@media screen and (max-width: 1480px) {
    .container-login {
        margin: 100px;

    }

    .register {
        background-color: #feb600;
        height: 80%;
        width: 70%;

    }

    .register .register-second-line {
        flex-direction: column;
        align-items: center;
    }

    .register .register-second-line div {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .register .register-second-line div input {
        width: 100%;
    }

    .register .email-line {
        text-align: center;
    }

    .register .second-adress-line {
        flex-direction: column;
    }

    .register .second-adress-line div {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .register .second-adress-line div input[name="zip-code"] {
        width: 100%;
    }

    .register .adress-line {
        text-align: center;
    }

    .register .phone-number input {
        width: 100%;
    }

    .register .submit-valid {
        justify-content: center;
    }
}
@media screen and (max-width: 990px){
    .container-login {
        margin: 40px 20px 40px 20px;

    }
}

@media screen and (max-width: 576px) {
    .container-login {
        margin: 40px 10px 40px 10px;

    }
    .register {
        background-color: #feb600;
        height: 80%;
        width:100%;

    }
    .register .register-first-line {
        display: initial;
        text-align: center;

    }


    .register .register-first-line div {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .register .register-first-line .none {
        flex-direction: row;
    }


}