* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #eae0dd;
  --secondary-color: #feb600;
  --tertiary-color: #2b1a10;
}
@font-face{
  font-family: 'Cinzel';
  src: url('../fonts/Cinzel-VariableFont_wght.ttf') format('woff');
  /* url('#{$font-path}/open-sans/OpenSans-Regular.woff2') format('woff2'),
  url('#{$font-path}/open-sans/OpenSans-Regular.otf') format('otf'),
  url('#{$font-path}/open-sans/OpenSans-Regular.ttf') format('ttf'); */
}
body {
  background-color: #2b1a10;
}
#ml {
  background-color: #feb600;
}
section{
  margin: 60px;
}
header {
  height: 90px;
  width: 100%;
  background-color: #feb600;
  display: flex;
  justify-content: space-between;
}
header img {
  height: 100%;
}
header .navbar-main {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
}
header .navbar-main .top-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50%;
}
header .top-navbar .search-bar {
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 1rem;
}
header .top-navbar .connexion {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
}
header .navbar-main .top-navbar input {
  height: 30px;
  width: 100%;
  border-radius: 20px;
}
header .navbar-main .top-navbar a {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #2b1a10;
}
header .navbar-main .top-navbar a:hover {
  background-color: #2b1a10;
  color: #feb600;
}
header .basket {
  display: flex;
  align-items: center;
  width: 10%;
}
header .basket a {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #2b1a10;
}
header .basket a:hover {
  background-color: #2b1a10;
  color: #feb600;
}
/* display none barre de recherche et bouton bootstrap */
.d-flex .form-control {
  display: none;
}
.d-flex button {
  display: none;
}
/* navbar position  */
.navbar-main .navbar {
  padding-top: 0rem;
  padding-bottom: 0;
  height: 50%;
  margin-bottom: 0;
}
/* couleur menu */
.collapse .dropdown-menu {
  background-color: #feb600;
}
/* color text bouton menu  */
.navbar-main .navbar-light .navbar-nav .nav-link {
  color: #2b1a10;
}
.dropdown-item {
  color: #2b1a10;
}
/* hover menu  */
.navbar-main .navbar-light .navbar-nav .nav-link:hover {
  background-color: #2b1a10;
  color: #feb600;
}
.dropdown-item:hover {
  background-color: #2b1a10;
  color: #feb600;
}
.navbar .container-fluid {
  padding: 0;
  margin: 0;
  height: 100%;
}
h2{
  text-align: center;
  color: #FEB600;
  font-family: "Cinzel";
  font-size: 32px;
}
.imgInSlider{
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
/* à terme il faudra règler background-image par javascript et mettre cette propriété dans .imgInSlider 
afin d'avoir toutes les propriétés générales liées au bg dans la meme propriété */
.imageBiereDuMoment{
  display: flex;
  background-image: url("../chimay.jpg"); 
  height: 530px; 
  justify-content: center;
  align-items: flex-end ;
  color: white;
  padding-bottom: 20px;
  background-position: center;
  background-size: cover;
  
}
.imgChoiceUsers{
  display: flex;
  background-image: url("../slider-chouffe.jpg");
  height: 606px;  
  align-items: flex-end ;
  color: white;
  padding-bottom: 20px;
  background-attachment:local;
  
  /* background-position: center; */

}
.textPubChxUser {
  width: 60%;
}
.textPubChxUser span{
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  align-self: center;
  justify-content: center;
  padding: 30px 30px;
  font-size: 32px;
}
#prixChxUser{
  display: flex;
  width: 50%;
  

}


.textPubChxUser  div{
  display: flex;
  justify-content: end;
  align-items: flex-end;
  height: min-content;
  margin: 0;
  /* box-sizing: unset; */
 
  
}
.textPubChxUser div > span > span{
  max-width: min-content;
  font-size: 50px;

}
.textPubChxUser div > span {
  text-align: end;
  align-items: center;
  justify-content: end;
}
.promotions{
  background-color: #FEB600;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
}
.promotions a{
  text-decoration: none;
}
.promoCard {
  height:fit-content;
  width: 265px;
  border-radius: 10px; 
  background-color:#2B1A10;
  color: white;
  display: flex;
  flex-direction: column;
  
}
.promoCard >img{
  border-top-left-radius: 10px;
  border-top-right-radius:10px;
  object-fit: cover;
  
}
.textPromoCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px; 
  
}
.textPromoCard > p{ 
  display: flex;
  flex-direction: column;
  line-height: 22px;
  font-size:25px;
}
.textPromoCard > p > span{
  align-self: flex-end;
}

.textPromoCard > div{
  display: flex;
  justify-content: space-around;
  padding-top: 5px;
  font-size: 27px;
}
.textPromoCard> h3{
  text-align:center ;
  font-size: 30px;
}
.nouveaute{
  color: black;
  background-color: #EAE0DD;
  display: flex;
}
.imgNouveaute{
  background-image: url("../imgnouveaute.jpg");
  height: 713px;
  width: 75%;
  background-size: cover;


}   
.txtNouveaute{
  width:25%;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 40px;
  padding: 2rem;
}
.boutique {
  display: flex;
}
.filter {
  width: 15%;
}
.filter form {
  display: flex;
  flex-direction: column;
  color: #feb600;
}
.filter form div {
  display: flex;
  justify-content: space-between;
}
.boutique .list_card {
  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
}
.boutique .carde {
  background-color: #feb600;
  width: 90%;
  height: 90%;
  margin: 1rem 1rem;
  border: 10px solid #feb600;
  border-radius: 20px;
  justify-self: center;
  align-self: center;
}
.boutique .carde a {
  text-decoration: none;
  color: #2b1a10;
  text-align: center;
}
.boutique .carde a div {
  width: 100%;
  height: 70%;
}

.boutique .carde img {
  object-fit: cover;
  border-radius: 10px;
  width: 100%;
  height: 100%;
}
.boutique .carde .bier_name {
  font-size: 1.1rem;
  font-weight: bold;
}
.boutique .carde .price_bier {
  font-size: 1.2rem;
  font-weight: bold;
}
.page {
  text-align: center;
}
.container-login {
  display: flex;
  justify-content: center;
  margin: 100px;
}
.login {
  background-color: #feb600;
  height: 500px;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  border-radius: 15%;
}
.login h2 {
  font-weight: bold;
}
.login div {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.login div input {
  border-radius: 10px;
}
.login div label {
  align-self: center;
  font-weight: bold;
}
.login div input[type="text"] {
  height: 40px;
}
.login div input[type="password"] {
  height: 40px;
}
.login div input[type="submit"] {
  padding: 0 1rem;
  width: 50%;
  align-self: center;
}
.login div a {
  align-self: center;
}
.register {
  background-color: #feb600;
  height: 500px;
  width: 40%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  gap: 2rem;
  border-radius: 15%;
}
.register .register-first-line {
  display: flex;
  gap: 2rem;
}
.register .register-second-line {
  display: flex;
  gap: 1rem;
}

.register .email-line input {
  width: 100%;
}
.register .adress-line input {
  width: 100%;
}
.register .second-adress-line {
  display: flex;
}
.register .second-adress-line input[name="zip-code"] {
  width: 55%;
}
.register .phone-number {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.register .submit-valid {
  display: flex;
  justify-content: end;
}
.register .align {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.profil h2 {
  text-align: center;
  color: #feb600;
}
.user {
  display: flex;
  height: 400px;

}
.user .profilPhoto {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.user .profilPhoto img {
  object-fit: contain;
  width: 50%;
}
.user .userDetail {
  width: 50%;
  background-color: #feb600;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
}
.user .userDetail .name{
  display: flex;
  gap: 3rem;
  justify-content: space-around;
}
.delivery h2{
  text-align: center;
  color: #feb600;
  background-color: #2b1a10;
  width: 100%;
}
.delivery{
  background-color: #feb600;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.delivery .table-delivery{
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.delivery table{
  width: 100%;
  padding-top: 1rem;
}
.delivery table th{
  border: 1px solid #2b1a10;
  height: 40px;
  
}
.delivery .delivery-detail{
  height: 40%;
  width: 80%;
  background-color: #eae0dd;

}
@media screen and (max-width: 992px) {
  header .navbar-main .top-navbar input {
    display: none;
  }
  header .navbar-main .top-navbar input{
    display: none;
  }

  .d-flex .form-control {
    display: initial;
  }
  .d-flex button {
    display: initial;
  }
  header img{
    display: none;
  }
  section{
    margin: 0;
  }
  .container-login{
    margin: 0px;
  }
  .login {
    background-color: #feb600;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border-radius: 0%;
  }
  .login div input[type="submit"] {
    padding: 0 1rem;
    width: 50%;
    align-self: center;
    font-size: 0.7rem;
  }
}
