* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: #eae0dd;
    --secondary-color: #feb600;
    --tertiary-color: #2b1a10;
}
@font-face{
    font-family: 'Cinzel';
    src: url('../fonts/Cinzel-VariableFont_wght.ttf') format('woff');
    /* url('#{$font-path}/open-sans/OpenSans-Regular.woff2') format('woff2'),
    url('#{$font-path}/open-sans/OpenSans-Regular.otf') format('otf'),
    url('#{$font-path}/open-sans/OpenSans-Regular.ttf') format('ttf'); */
}
body {
    background-color: #2b1a10;
}
.profil h2 {
    text-align: center;
    color: #feb600;
}
.user {
    display: flex;
    height: 400px;

}
.user .profilPhoto {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.user .profilPhoto img {
    object-fit: contain;
    width: 50%;
}
.user .userDetail {
    width: 50%;
    background-color: #feb600;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
}
.user .userDetail .name{
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: space-around;
}
.user .userDetail div{
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: space-between;
}
.user .userDetail div p{
    align-self: center;
}
.delivery h2{
    text-align: center;
    color: #feb600;
    background-color: #2b1a10;
    width: 100%;
}
.delivery{
    background-color: #feb600;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.delivery .table-delivery{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.delivery table{
    width: 100%;
    padding-top: 1rem;
}
.delivery table th{
    border: 1px solid #2b1a10;
    height: 40px;

}
.delivery .delivery-detail{
    height: 40%;
    width: 80%;
    background-color: #eae0dd;

}
@media screen and (max-width: 576px){
    .user {
        flex-direction: column;
    }
    .user .userDetail{
        width: 100%;
        height: 100%;
        flex-direction: row;
        justify-content: center;
    }
    .user .userDetail div{
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }
    .user .profilPhoto{
        width: 100%;
    }


}
@media screen and (max-width: 990px){
    .user .userDetail{
        align-items: initial;
    }
}